
.cloud
.uuid
.DS_Store
.google.token
.homekit.state
.ps4-games.json
.ssh
.storage
.vscode
.pip_progress
bravia.conf
google_calendars.yaml
known_devices.yaml
secrets.yaml
secrets.py
themes
tts
www/Plex_Recently_Added
www/font
home-assistant_v2.db
home-assistant_v2.db-wal
home-assistant_v2.db-shm
home-assistant.code-workspace
home-assistant.log
__pycache__
*.pyc
