
.google.token
.HA_VERSION
.homekit.state
.ps4-games.json
.spotify-token-cache
.ssh
.storage
.vscode
bravia.conf
google_calendars.yaml
home-assistant.code-workspace
home-assistant.log
home-assistant_v2.db
other.yaml
secrets.yaml
themes
tts
www/plex
www/trash
home-assistant_v2.db-wal
home-assistant_v2.db-shm