
blueprints
tts
.*
!.HA_VERSION

google_calendars.yaml
known_devices.yaml
secrets.yaml

custom_components/*
www/community/*
www/Plex_Recently_Added/*
www/fonts

home-assistant.code-workspace
home-assistant.log*
